{% extends "base.html" %}

{% block scripts %}
{{ block.super }}
{{ form.media }}
{% endblock scripts %}

{% block content %}

<form action="{% url 'projects:create' %}" method="post" accept-charset="utf-8"
    class="form" id="project-create-form" enctype="multipart/form-data">
    {% if form.non_field_errors %}
    <p class="form-error">{{ form.non_field_errors }}</p>
    {% endif %}
    <h4 class="form-caption">Create a new project</h4>
    {% csrf_token %}
    <p class="form-field{% if form.name.errors %} error{% endif %}">
        <input type="text" placeholder="Name of the project" name="name"
        autofocus="true"/>
    </p>
    {{ form.name.errors }}
    <label for="id_image">Project image</label>
    <p class="form-field{% if form.image.errors %} error{% endif %}">
        {{ form.image }}
    </p>
    {{ form.image.errors }}
    <label for="id_tech">Technology in use</label>
    <p class="form-field-container{% if form.tech.errors %} error{% endif %}">
        {{ form.tech }}
    </p>
    {{ for.tech.errors }}
    <label for="id_short_description">
        Clear synopsis of what the project is (a few words)
    </label>
    <p class="form-field{% if form.short_description.errors %}
        error{% endif %}">
        {{ form.short_description }}
    </p>
    {{ form.short_description.errors }}
    <label for="id_members">
        Members involved in this project
    </label>
    <p class="form-field-container{% if form.members.errors %}
        error{% endif %}">
        {{ form.members }}
    </p>
    {{ form.members.errors }}
    <label for="id_opensource">
        Opensource?
    </label>
    {{ form.opensource }}
    <p class="form-actions">
        <input type="submit" class="useless" />
        <a class="btn btn-primary"
            onclick="$('#project-create-form').submit();">
            Submit this project (must be validated by an admin)
        </a>
        <a href="{% url 'projects:all' %}" class="btn btn-default">
            List our projects
        </a>
    </p>
    <input type="hidden" name="next" value="{{ next|escape }}" />
</form>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $('#id_members').multipleSelect({
        position: 'top'
    });
});
</script>

{% endblock content %}

