{% extends "base.html" %}

{% load mathjax %}

{% block scripts %}
{{ block.super }}
{% mathjax_scripts %}
{% endblock scripts %}

{% block content %}

{% url 'projects:update' slug_name=project.slug_name as update_link %}

<h2>
    <a class="return" href="{% url 'projects:all' %}">
        <i class="fa fa-arrow-circle-o-left"></i>
    </a>
    {% load thumbnail %}
    <img class="project-image" src="{% thumbnail project.image 50x50 crop %}">
    {{ project.name }}
    {% if user.is_member %}
    <a class="btn btn-primary edit" href="{{ update_link }}">
        Edit
    </a>
    {% endif %}
</h2>

<div class="markup-container">

{% if project.description %}
{{ project.description|safe }}
{% else %}
<p class="nothing"><em>This project doesn't have a description.</em>
{% if user.is_authenticated and user.is_member %}
You should definitely <a href="{{ update_link }}">provide one</a>.</p>
{% endif %}
{% endif %}

</div>

{% endblock content %}
