{% load humanize %}
{% load thumbnail %}

{% for project in projects %}
<div class="project">
    <img class="logo" src="{% thumbnail project.image 90x90 crop %}"
    width="90px" height="90px">
    <div class="content">
        <h5 class="name">
            <a href="{{ project_base_url|add:project.slug_name }}">
                {{ project.name }}
            </a>
            {% if project.end %}
            {% if project.end == 'D' %}
            <span class="visibility closed">Dropped</span>
            {% else %}
            <span class="visibility open">Finished</span>
            {% endif %}
            {% endif %}
            {% if project.opensource %}
            <span class="visibility open">Open source</span>
            {% else %}
            <span class="visibility closed">Closed source</span>
            {% endif %}
            <span class="views">
                {{ project.num_views }} <i class="fa fa-eye"></i>
            </span>
        </h5>
        <span class="info">
            {{ project.tech }} <span>·</span>
            {% if project.end %}
            {% if project.end == 'D' %}dropped{% else %}finished{% endif %}
            <strong>{{ project.end_date|date_ago }}</strong>
            {% else %}
            started <strong>{{ project.pub_date|date_ago }}</strong>
            {% endif %}
        </span>
        <p class="description">
        {{ project.short_description }}
        </p>
    </div>
</div>
{% endfor %}
