{% extends 'base.html' %}

{% block content %}
{% if projects or old_projects or user_projects %}
{% url 'projects:project' as project_base_url %}
{% if user_projects %}
<h3>
    Your projects <span class="count">{{ user_projects.count }}</span>
</h3>
<div class="projects">
    {% include "projects/projects.render.html" with projects=user_projects %}
</div>
{% endif %}
{% if projects %}
<h3>
    {% if user_projects %}
    Other projects
    {% else %}
    Projects we are currently working on
    {% endif %}
    <span class="count">{{ projects.count }}</span></h3>
<div class="projects">
    {% include "projects/projects.render.html" with projects=projects %}
</div>
{% endif %}
{% if old_projects %}
<h3>Old work
    <span class="count">{{ old_projects.count }}</span></h3>
<div class="projects projects-old">
    {% include "projects/projects.render.html" with projects=old_projects %}
</div>
{% endif %}
{% else %}
<p class="nothing">There is no project. It seems we are doing nothing
for the moment... :(</p>
{% endif %}

{% endblock %}
