{% extends "base.html" %}

{% block scripts %}
{{ block.super }}
{{ form.media }}
{% endblock scripts %}

{% block content %}

<form action="{% url 'projects:update' slug_name=object.slug_name %}"
    method="post" accept-charset="utf-8" class="form" id="project-create-form"
    enctype="multipart/form-data">
    {% if form.non_field_errors %}
    <p class="form-error">{{ form.non_field_errors }}</p>
    {% endif %}

    <h4 class="form-caption">
        Update project '<em>{{ object.name }}</em>'
        <a class="btn btn-default btn-xs" style="float: right"
            href="{% url 'projects:project' slug_name=object.slug_name %}">
            Come back to project
        </a>
        <a class="btn btn-primary btn-xs" style="float: right"
            onclick="$('#project-create-form').submit();">
            Save
        </a>
    </h4>
    {% csrf_token %}

    <label for="id_description_markdown" class="padtop">
        Project description (explain well please, in markdown)
    </label>
    <p class="form-field{% if form.description_markdown.errors %}
        error{% endif %}">
        {{ form.description_markdown }}
    </p>
    {{ form.description_markdown.errors }}

    <label for="id_members">
        Members involved in this project
    </label>
    <p class="form-field-container{% if form.members.errors %}
        error{% endif %}">
        {{ form.members }}
    </p>
    {{ form.members.errors }}

    <label for="id_short_description">
        Clear synopsis of what the project is (a few words)
    </label>
    <p class="form-field{% if form.short_description.errors %}
        error{% endif %}">
        {{ form.short_description }}
    </p>
    {{ form.short_description.errors }}

    <label for="id_name">
        Project name
    </label>
    <p class="form-field{% if form.name.errors %} error{% endif %}">
        <input type="text" placeholder="Name of the project" name="name"
        value="{{ object.name }}" />
    </p>
    {{ form.name.errors }}

    <label for="id_image">Project image</label>
    <p class="form-field{% if form.image.errors %} error{% endif %}">
        <img src="/media/{{ object.image }}" style="max-width: 100px;
            max-height: 100px;"/>
        <input id="id_image" name="image" type="file" />
    </p>
    {{ form.image.errors }}


    <label for="id_opensource">
        Opensource?
    </label>
    {{ form.opensource }}

    <p class="form-actions">
        <input type="submit" class="useless" />
        <a class="btn btn-primary"
            onclick="$('#project-create-form').submit();">
            Save
        </a>
    </p>
    <input type="hidden" name="next" value="{{ next|escape }}" />
</form>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $('#id_members').multipleSelect({
        position: 'top'
    });
});
</script>

{% endblock content %}

