{% extends "base.html" %}

{% block content %}
<form action="{% url 'accounts:login' %}" method="post" accept-charset="utf-8"
    id="login-form" class="form">
    {% if form.non_field_errors %}
    <p class="form-error">Wrong username/password. Try again.</p>
    {% endif %}
    <h4 class="form-caption">Log in</h4>
    {% csrf_token %}
    <p class="form-field{% if form.username.errors %} error{% endif %}">
        <input type="text" placeholder="Username" name="username"
        autofocus="true"/>
    </p>
    {{ form.username.errors }}
    <p class="form-field{% if form.password.errors %} error{% endif %}">
        <input type="password" placeholder="Password" name="password"
        autofocus="true"/>
    </p>
    {{ form.password.errors }}
    <p class="form-actions">
        <input type="submit" class="useless" />
        <a class="btn btn-primary" onclick="$('#login-form').submit();">Go!</a>
        <a href="{% url 'accounts:password_reset' %}" class="btn btn-success">
            I forgot my password =(
        </a>
    </p>
    <input type="hidden" name="next" value="{{ next|escape }}" />
</form>
{% endblock content %}
