{% extends "base.html" %}

{% block content %}

<div class="message-container">
    <p class="message success">
        <i class="fa fa-check"></i> Done! If the email you entered was correct
        you should see a message in your mailbox.</br>
        (for security reasons, we don't tell you if the email you gave us is in
        the database)</br>
        Contact us at
        <a href="mailto:help@epirev.com"><strong>help@epirev.com</strong></a>
        if you have any issue.
    </p>
</div>

{% endblock content %}
