{% extends "base.html" %}

{% block content %}
<form action="{% url 'password_reset' %}" method="post" accept-charset="utf-8"
    id="reset-form" class="form">
    <h4 class="form-caption">Reset your password</h4>
    {% csrf_token %}
    <p class="form-field{% if form.email.errors %} error{% endif %}">
        <input type="text" placeholder="Email address" name="email"
        autofocus="true"/>
    </p>
    {{ form.email.errors }}
    <p class="form-actions">
        <input type="submit" class="useless" />
        <a class="btn btn-primary" onclick="$('#reset-form').submit();">
            Send me an email
        </a>
        <a class="btn btn-default" href="{% url 'login' %}">
            Log in
        </a>
    </p>
    <input type="hidden" name="next" value="{{ next|escape }}" />
</form>
{% endblock content %}
