{% extends "base.html" %}

{% block content %}

<div class="message-container">
    <p class="message success">
        <i class="fa fa-check"></i> Password updated! You can now
        <a href="{% url 'login' %}"><strong>log in</strong></a>
    </p>
</div>

{% endblock content %}
