{% extends "base.html" %}

{% block content %}
<form action="." method="post"
    accept-charset="utf-8" id="reset-form" class="form">
    <h4 class="form-caption">Enter a new password</h4>
    {% if form.non_field_errors %}
    <p class="form-errors">{{ form.non_field_errors }}</p>
    {% endif %}
    {% csrf_token %}
    <p class="form-field{% if form.new_password1.errors %} error{% endif %}">
        <input type="password" placeholder="new password" name="new_password1"
        autofocus="true" />
    </p>
    <p class="form-field-errors">
        {{ form.new_password1.errors }}
    </p>
    <p class="form-field{% if form.new_password2.errors %} error{% endif %}">
        <input type="password" placeholder="confirm new password"
        name="new_password2" />
    </p>
    <p class="form-field-errors">
        {{ form.new_password2.errors }}
    </p>
    <p class="form-actions">
        <input type="submit" class="useless" />
        <a class="btn btn-primary" onclick="$('#reset-form').submit();">
            Change password
        </a>
        <a class="btn btn-default" href="{% url 'login' %}">
            Log in
        </a>
    </p>
    <input type="hidden" name="next" value="{{ next|escape }}" />
</form>
{% endblock content %}
