@include "../fonts/opensans/font.css";

@font-face{
  font-family:'NeuropolX';
  src: url("../fonts/neuropolx/NeuropolX-Cnd-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: nomal;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(../fonts/Inconsolata.woff) format('woff');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata Bold'), local('Inconsolata-Bold'),
       url(../fonts/InconsolataBold.woff) format('woff');
}

@font-face{
  font-family:'Menlo';
  src: url("../fonts/Menlo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
