.form {
    background-color: #e8f2f9;
    border: none;
    margin: 5px auto;
    padding: 0;
}

.form-caption {
    background: #d1e2ed;
    color: #1d3f56;
    padding: 6px 12px;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

.form-field-container {
    margin: 5px 10px;
    font-size: 14px;
}

.form-field {
    margin: 8px 10px;
    background: white;
    border: 1px solid #afcde0;
    padding: 5px 7px;
    font-size: 14px;
    transition: all 0.2s ease;
}

.form-field.active {
    border-color: #5391cc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.07);
    transition: all 0.2s ease;
}

.form-field.error {
    border-color: #dc685c;
    margin-bottom: 0;
    border-bottom: 0;
}

.form .errorlist {
    display: block;
    margin: 0 10px 5px 10px;
    list-style-type: none;
    padding: 4px 7px;
    background: #dc685c;
    font-weight: 700;
    color: white;
    font-size: 12px;
    text-align: left;
}

.form-field > input, .form-field textarea {
    background: white;
    color: gray;
    display: block;
    font-size: 14px;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.form-field > input:focus, .form-field textarea:focus {
    color: black;
}

.form-field > select {
    background: white;
}

.form-actions {
    padding: 0 10px 14px 10px;
}

.form-error {
    background: rgba(220, 104, 92, 1);
    color: #dc685c;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 0;
    margin: 0;
}

.form input[type=submit].useless {
    display: none;
}

.message-container {
    text-align: center;
}

.message {
    display: inline-block;
    padding: 10px 14px;
    background: #d1e2ed;
    font-size: 16px;
    color: #1d4057;
}

.message.success {
    background-color: #aee8cf;
    color: #0c3d28;
}

.message a {
    text-decoration: none;
}

.message.success a {
    color: #0c3d28;
}

.message a:hover {
    text-decoration: underline;
}

.form > label {
    padding: 0 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    margin-bottom: -3px;
    color: #3f637d;
}

.form label.padtop {
    padding-top: 10px;
    display: block;
}

.form-field input[type=file] {
    display: inline-block;
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    vertical-align: middle;
}

.form-field img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}
