@import "forms.css";

.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  padding: 3px 7px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 3px;
  vertical-align: middle;
}

.btn-xs {
  font-size: 12px;
  padding: 3px 8px;
}

.btn-default {
  color: white;
  background-color: #9c9c9c;
}

.btn-default:hover {
  background-color: #878787;
}

.btn-success {
  background-color: #35c687;
}

.btn-success:hover {
  background-color: #26b275;
}

.btn-danger {
  background-color: #dc685c;
}

.btn-danger:hover {
  background-color: #c44f43;
}

.btn-primary {
  background-color: #74a3d3;
}

.btn-primary:hover {
  background-color: #4c85bf;
}

/* MARKDOWN */

.markup-container {
  font-family: Arial, sans-serif;
  color: rgb(51, 51, 51);
  line-height: 20px;
  font-size: 14px;
}

.markup-container a {
  color: rgb(59, 115, 175);
  text-decoration: none;
}

.markup-container a:hover {
  text-decoration: underline;
}

.markup-container ul p {
  margin: 0;
}

.markup-container ul ul {
  margin-top: 0;
}

.markup-container blockquote {
  margin-left: 19px;
  padding: 1px 20px;
  line-height: 20px;
  border-left: 1px solid rgb(204, 204, 204);
  font-style: italic;
  color: rgb(112, 112, 112);
}

.markup-container p code, .markup-container ul code {
  font-size: 12px;
  background: none repeat scroll 0% 0% rgb(245, 245, 245);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  padding: 1px 3px;
  font-family: monospace;
}

.markup-container h1 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: normal;
  margin: 20px 0;
}

.markup-container h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5625;
}

.markup-container h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.42857;
}

.markup-container h1:first-child {
  margin-top: 0px;
}

hr {
  padding: 0px;
  border-right: normal none;
  border-width: normal;
  border-style: solid none none;
  border-color: rgb(191, 191, 191) -moz-use-text-color -moz-use-text-color;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  color: rgb(51, 51, 51);
  text-align: center;
  margin: 20px 0;
}

hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 1em;
  padding: 0px 0.25em;
  color: rgb(100, 100, 100);
  background: none repeat scroll 0% 0% white;
}

pre { font-family: "Menlo", "Inconsolata", Courier, "Cousine", monospace; }

pre .hll { background-color: #ffffcc }

pre {
  background: none repeat scroll 0% 0% rgb(245, 245, 245);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  overflow-x: auto;
  padding: 5px 10px;
  word-wrap: normal;
}

pre .c{
  color:#998;
  font-style:italic
}

pre .err{
  color:#a61717;
  background-color:#e3d2d2
}

pre .cm{
  color:#998;
  font-style:italic
}

pre .c1{
  color:#998;
  font-style:italic
}

pre .cs{
  color:#999;
  font-style:italic
}

pre .gd{
  color:#000;
  background-color:#fdd
}

pre .ge{
  font-style:italic
}

pre .gr{
  color:#a00
}

pre .gh{
  color:#999
}

pre .gi{
  color:#000;
  background-color:#dfd
}

pre .go{
  color:#888
}

pre .gp{
  color:#555
}

pre .gu{
  color:#aaa
}

pre .gt{
  color:#a00
}

pre .k{
  color:#004080
}

pre .kc{
  color:#004080
}

pre .kd{
  color:#004080
}

pre .kp{
  color:#004080
}

pre .kr{
  color:#004080
}

pre .kt{
  color:#458
}

pre .m{
  color:#099
}

pre .s{
  color:#b84
}

pre .na{
  color:#008080
}

pre .nb{
  color:#999
}

pre .nc{
  color:#458
}

pre .no{
  color:#008080
}

pre .ni{
  color:#800080
}

pre .ne{
  color:#900
}

pre .nf{
  color:#900
}

pre .nn{
  color:#555
}

pre .nt{
  color:#000080
}

pre .nv{
  color:#008080
}

pre .w{
  color:#bbb
}

pre .mf{
  color:#099
}

pre .mh{
  color:#099
}

pre .mi{
  color:#099
}

pre .mo{
  color:#099
}

pre .sb{
  color:#b84
}

pre .sc{
  color:#b84
}

pre .sd{
  color:#b84
}

pre .s2{
  color:#b84
}

pre .se{
  color:#b84
}

pre .sh{
  color:#b84
}

pre .si{
  color:#b84
}

pre .sx{
  color:#b84
}

pre .sr{
  color:#808000
}

pre .s1{
  color:#b84
}

pre .ss{
  color:#b84
}

pre .bp{
  color:#999
}

pre .vc{
  color:#008080
}

pre .vg{
  color:#008080
}

pre .vi{
  color:#008080
}

pre .il{
  color:#099
}
