html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  outline-style: none;
}

.clear {
  display: block;
  float: none;
  clear: both;
}

body {
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-size: 14px;
  position: relative;
}

#container {
  min-height: 100%;
  position: relative;
}

header {
  height: 209px;
  background: #0170bf center center no-repeat;
  text-align: center;
}

header.authenticated {
  height: 90px;
}

#header {
  height: 209px;
  max-width: 1000px;
  margin: 0 auto;
}

#header {
  background: -moz-linear-gradient(left,  rgba(1,112,191,1) 0%,
  rgba(1,112,191,1) 2%, rgba(1,112,191,0.5) 25%, rgba(1,112,191,0.5) 50%,
  rgba(1,112,191,0.5) 75%, rgba(1,112,191,1) 98%, rgba(1,112,191,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-
  stop(0%,rgba(1,112,191,1)), color-stop(2%,rgba(1,112,191,1)), color-
  stop(25%,rgba(1,112,191,0.5)), color-stop(50%,rgba(1,112,191,0.5)), color-
  stop(75%,rgba(1,112,191,0.5)), color-stop(98%,rgba(1,112,191,1)), color-
  stop(100%,rgba(1,112,191,1))); background: -webkit-linear-gradient(left,
  rgba(1,112,191,1) 0%,rgba(1,112,191,1) 2%,rgba(1,112,191,0.5)
  25%,rgba(1,112,191,0.5) 50%,rgba(1,112,191,0.5) 75%,rgba(1,112,191,1)
  98%,rgba(1,112,191,1) 100%); background: -o-linear-gradient(left,
  rgba(1,112,191,1) 0%,rgba(1,112,191,1) 2%,rgba(1,112,191,0.5)
  25%,rgba(1,112,191,0.5) 50%,rgba(1,112,191,0.5) 75%,rgba(1,112,191,1)
  98%,rgba(1,112,191,1) 100%); background: -ms-linear-gradient(left,
  rgba(1,112,191,1) 0%,rgba(1,112,191,1) 2%,rgba(1,112,191,0.5)
  25%,rgba(1,112,191,0.5) 50%,rgba(1,112,191,0.5) 75%,rgba(1,112,191,1)
  98%,rgba(1,112,191,1) 100%); background: linear-gradient(to right,
  rgba(1,112,191,1) 0%,rgba(1,112,191,1) 2%,rgba(1,112,191,0.5)
  25%,rgba(1,112,191,0.5) 50%,rgba(1,112,191,0.5) 75%,rgba(1,112,191,1)
  98%,rgba(1,112,191,1) 100%); filter:
  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0170bf',
  endColorstr='#0170bf',GradientType=1 );
}

header.authenticated > #header {
  height: 90px;
}

#header #logo {
  font-family: "NeuropolX", sans-serif;
  font-size: 92px;
  display: inline-block;
  color: rgba(255,255,255,0.9);
  letter-spacing: 14px;
  line-height: 100px;
  padding-left: 14px;
  padding-top: 20px;
  margin-bottom: -6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}

header.authenticated > #header #logo {
  font-size: 60px;
  line-height: 60px;
}

#header #subtitle {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 11px 0 7px;
}

#header #subtitle strong {
  font-weight: 900;
}

#header #logo span {
  color: rgba(0,0,0,0.8);
}

#header #actions {
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  padding-top: 9px;
}

#header #actions > li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

#header #actions > li > a {
  display: block;
  margin: 0;
  padding: 5px 9px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: white;
  border: 2px solid rgba(255,255,255,0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#header #actions > li > a:hover {
  border: 2px solid rgba(255,255,255,0.8);
  background: rgba(255,255,255,.1);
}

#header #actions > li > a:hover > span {
  color: white;
}

#header #actions > li > a > span {
  color: #99c6e5;
}

#main-nav > ul, #user-nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  border-bottom: 1px solid #b2d4ec;
}

#main-nav > ul > li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: -1px;
}

#main-nav > ul > li > a {
  display: inline-block;
  padding: 16px 18px;
  padding-top: 14px;
  padding-bottom: 16px;
  font-size: 18px;
  color: #74a3d3;
  text-decoration: none;
}

#main-nav > ul > li > a:hover {
  background: #F0F5FA;
  color: #0170bf;
  border-bottom: 1px solid #b2d4ec;
  padding-bottom: 15px;
}

#main-nav > ul > li > a.active {
  color: #0170bf;
  font-weight: 500;
  background: url(../img/white-triangle.png) no-repeat bottom center;
}

#main-nav.logged-in > ul > li > a.active {
  background: url(../img/blue-triangle.png) no-repeat bottom center;
}

#main-nav > ul > li > a.active:hover {
  border: none;
  padding-bottom: 16px;
}

/*#main-nav > ul > li#user > a {*/
/*padding: 13px 20px 14px 20px;*/
/*}*/

/*#main-nav > ul > li#user > a:hover {*/
/*padding-bottom: 13px;*/
/*}*/

#main-nav > ul > li#user {
  position: relative;
}

#main-nav > ul > li#user .avatar {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: top;
  margin-right: 4px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

#user-nav {
  background: #f0f5fa;
}

#user-nav > ul > li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: -1px;
}

#user-nav > ul > li > a {
  display: inline-block;
  padding: 12px 20px;
  padding-bottom: 14px;
  font-size: 14px;
  color: #0170bf;
  text-decoration: none;
}

#user-nav > ul > li > a:hover {
  color: #004F87;
  background-color: #DFE9F2;
  border-bottom: 1px solid #b2d4ec;
  padding-bottom: 13px;
}

#user-nav > ul > li > a.active {
  font-weight: 700;
  background: url(../img/white-triangle.png) no-repeat bottom center;
}

#user-nav > ul > li > a.active:hover {
  color: #0170bf;
  border: none;
  padding-bottom: 14px;
}

#content {
  width: 80%;
  margin: 0 auto;
  padding: 20px 20px 110px 20px;
}

#content > h2 {
  font-weight: normal;
  color: #737373;
  font-size: 24px;
  line-height: 20px;
  position: relative;
  vertical-align: middle;
}

#content > h2 > a.return {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #0170bf;
  opacity: 0.5;
  padding: 6px;
}

#content > h2 > a.return:hover {
  opacity: 1;
}

#content > h2 > a.edit {
  margin-left: 5px;
}

footer {
  width: 100%;
  background: #cce2f2;
  height: 60px;
  position: absolute;
  bottom: 0;
}

footer .content {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0;
  height: 40px;
}

footer #twod {
  position: absolute;
  left: 20px;
  bottom: 0;
  width: 71px;
  height: 94px;
  background: url(../img/2d.png);
}

footer .left {
  float: left;
  padding-left: 115px;
  color: #0170bf;
  padding-top: 10px;
}

footer .left a {
  color: #0170bf;
  font-weight: 700;
  text-decoration: none;
}

footer .left a:hover {
  text-decoration: underline;
}

footer .left img {
  display: inline-block;
  margin: 0 5px;
  margin-bottom: -9px;
}

footer .right {
  float: right;
  padding-right: 20px;
}

@media only screen and (max-width: 425px) {
  footer .left {
    font-size: 12px;
  }
}

@media only screen and (max-width: 370px) {
  footer .right {
    display: none;
  }
}

#content > h3 {
  font-size: 12px;
  color: #3b3b3b;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 8px;
}

#content > h2 > .project-image {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.projects {
  position: relative;
}

.projects.projects-old .project{
  background: #ffffcc;
  opacity: .8;
}

.projects .project {
  padding: 10px;
  margin: 10px 0;
  display: flex;
}

.projects .project .logo {
  width: 90px;
  min-width: 90px;
  max-width: 90px;
  min-height: 90px;
  max-height: 90px;
  height: 90px;
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  border-radius: 70px;
}

.projects .project .content {
  display: inline-block;
  padding-top: 7px;
  /*max-width: 88%;*/
  font-size: 16px;
}

.projects .project .name {
  padding-left: 15px;
  margin: 0;
}

.projects .project .name a {
  display: inline-block;
  font-weight: 700;
  color: #0170bf;
  text-decoration: none;
  font-size: 18px;
  vertical-align: middle;
  margin-right: 3px;
}

.projects .project .name a:hover {
  text-decoration: underline;
}

.projects .project .visibility {
  display: inline-block;
  padding: 2px 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  margin-left: 3px;
  font-weight: 700;
  vertical-align: middle;
  margin-bottom: -3px;
}

.projects .project .visibility.open {
  background: #35c687;
}

.projects .project .visibility.closed {
  background: #ff6666;
}

.projects .project .views {
  display: inline-block;
  vertical-align: middle;
  color: gray;
  padding: 2px 0 0 5px;
}

.projects .project .views i {
  margin-left: 3px;
}

.projects .project .info {
  padding: 2px 0px 2px 15px;
  color: #3b3b3b;
  font-size: 14px;
}

.projects .project .info span {
  display: inline-block;
  margin: 3px 5px;
}

.projects .project .description {
  margin: 0;
  padding: 4px 0px 4px 15px;
  /*max-width: 690px;*/
  color: #737373;
}

#login-form, #reset-form {
  text-align: center;
  width: 400px;
}

#team-members {
  text-align: center;
}

#team-members .member {
  vertical-align: top;
}

.member {
  display: inline-block;
  background: white;
}

.member .name {
  color: #0170bf;
}

.member .aka {
  color: #727980;
  font-weight: normal;
}

.member .aka .username {
  color: #5d5f61;
  font-weight: 700;
}

.member h3, .member h4 {
  padding: 0;
  margin: 0;
}

.member.big {
  padding: 15px 0px 14px 0px;
  margin: 0px 15px 15px 0;
  width: 180px;
}

.member.big .avatar {
  width: 120px;
  height: 120px;
  border: none;
  display: inline-block;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  margin-bottom: 10px;
}

.member.big .name {
  font-size: 16px;
}

.member.big .aka {
  font-size: 12px;
}

.member.big .aka .username {
  font-size: 14px;
}

.member.big .titles {
  margin: 5px 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.member.big .titles li {
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background: #74a3d3;
}

.member.big .school {
  color: gray;
  font-weight: bold;
  display: inline-block;
  padding: 3px 0;
}

table.data {
  width: 100%;
}

table.data tr.head {
  font-size: 11px;
}

table.data tr th, table.data tr td {
  border-left: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 4px 12px;
}

table.data tr td:first-child, table.data tr td:first-child {
  border-left: none;
}

table.data tr:last-child td {
  border-bottom: none;
}

table.data tr.head th {
  font-weight: 900;
  text-transform: uppercase;
  color: #999;
}

table.data tr td.center {
  text-align: center;
  vertical-align: middle;
  color: #333;
  font-size: 12px;
}

table.data tr.head th:first-child {
  border-left: none;
}

table.data tr th:first-child {
  width: 100% !important;
  text-align: left;
}

table.data tr.item td a {
  font-weight: 700;
  color: #53555e;
  text-decoration: none;
}

table.data tr.item td a:hover {
  text-decoration: underline;
  color: #252e53;
}

table.data tr.odd {
  background: #f9f9f9;
}

table.data tr.item:hover {
  background: #eff1fb;
}

#chinwag {
  width: 100%;
}

#chinwag-nav {
  vertical-align: top;
  white-space: nowrap;
  position: relative;
  width: 170px;
}

#chinwag-content {
  vertical-align: top;
}

#chinwag-nav ul {
  margin: 0;
  padding: 10px 0;
  list-style-type: none;
  border-right: 1px solid #b2d4ec;
  width: 160px;
}

#chinwag-nav .item {
  display: block;
  margin: 0;
  padding: 0;
  border: 1px solid #ffffff;
}

#chinwag-nav .item.active {
  border: 1px solid #b2d4ec;
  border-right: white;
  margin-right: -1px;
  background: white;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#chinwag-nav .item a {
  display: block;
  margin: 0;
  padding: 5px 8px 5px 10px;
  text-align: left;
  color: #0170bf;
  text-decoration: none;
  opacity: .8;
}

#chinwag-nav .item a:hover {
  border-right: 2px solid #82B9E0;
  margin-right: -2px;
  opacity: 1;
}

#chinwag-nav .item.active a {
  padding-left: 10px;
  padding-right: 10px;
  color: #104266;
  opacity: 1;
}

#chinwag-nav .item.active a:hover {
  border-right: none;
  margin-right: 0;
}

#chinwag-nav .item a .pin {
  display: inline-block;
  padding: 1px 6px;
  background: #E8F2F9;
  color: #104266;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 700;
  vertical-align: middle;
  margin: 0 5px 0 10px;
  float: right;
}

#chinwag-nav .item a .name {
  display: inline-block;
  vertical-align: middle;
  float: left;
}

#chinwag-nav .category {
  text-align: right;
  font-weight: 700;
  color: gray;
  text-transform: uppercase;
  font-size: 12px;
  padding: 4px 17px;
  margin: 3px 0 0 0;
}

.forum-threads {
  margin: 0;
  padding: 0;
  width: 100%;
  border-top: 2px solid #b2d4ec;
}

.forum-thread {
  opacity: .8;
}

.forum-thread:hover {
  opacity: 1;
}

.forum-thread td {
  padding: 9px 6px;
  border-bottom: 1px solid #d8e9f5;
}

.forum-threads .forum-thread:last-child td {
  border-bottom: none;
}

.forum-thread-icon, .forum-thread-id {
  vertical-align: top;
  text-align: right;
}

.forum-thread-icon {
  color: #0170bf;
  opacity: .7;
  font-size: 14px;
  text-align: left;
  width: 17px;
}

.forum-thread.new {
  opacity: 1;
  background: #e8f2f9;
}

.forum-thread.new:hover {
  background: #E1EEF7;
}

.forum-thread.new .forum-thread-icon {
  color: #0170bf;
  opacity: 1;
}

.forum-thread-id {
  color: #76a3c2;
  font-size: 12px;
}

.forum-thread td:first-child {
  padding: 11px 1px 9px 7px;
}

.forum-thread td:last-child {
  padding-right: 14px;
}

.forum-thread-info .subject a {
  color: #104266;
  font-size: 16px;
  text-decoration: none;
}

.forum-thread-info .info {
  color: #76a3c2;
  font-size: 13px;
}

.forum-thread-info .info a {
  color: #0170bf;
  text-decoration: none;
  display: inline-block;
  margin-right: 2px;
}

.forum-thread-info .info a:hover {
  text-decoration: underline;
}

.forum-thread-info .info strong {
  color: #567F9C;
}

.pagination {
  text-align: right;
  margin: 4px auto 14px auto;
}

.pagination .step-links {
  display: inline-block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #CFCFCF;
  padding: 0 4px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  color: gray;
}

.pagination .step-links .current {
  display: inline-block;
  padding: 4px 9px;
}

.pagination .step-links a {
  display: inline-block;
  opacity: .7;
  padding: 4px 9px;
  text-decoration: none;
  color: #0170bf;
}

.pagination .step-links a:hover {
  opacity: 1;
}

.pagination .step-links a:first-child {
  border-right: 1px solid #CFCFCF;
}

.pagination .step-links a:last-child {
  border-left: 1px solid #CFCFCF;
}

