{% extends "base.html" %}

{% block content %}

{% if members %}
{% load avatar_tags %}
<div id="team-members">
{% for member in members %}

    <div class="member big">
        <img class="avatar" src="{% avatar_url member 120 %}"
        alt="{{ member.username }}"/>
        <h3 class="name">{{ member.get_full_name }}</h3>
        <h4 class="aka">a.k.a.
            <strong class="username">{{ member.username }}</strong>
        </h4>
        <span class="school">
            <i class="fa fa-graduation-cap"></i> {{ member.school }}
        </span>
        <ul class="titles">
            {% for title in member.titles.all %}
            <li style="background-color: {{ title.color }};">
                {{ title.name }}
            </li>
            {% endfor %}
        </ul>
    </div>

{% endfor %}
</div>
{% else %}
<p class="nothing">There is not a single person working at EPIREV. Strange!</p>
{% endif %}

{% endblock content %}
