{% extends "base.html" %}

{% block content %}

<table border="0" cellspacing="0" cellpadding="0" id="chinwag">
    <tr>
        <td id="chinwag-nav">
            {% include "chinwag/nav.html" %}
        </td>
        <td id="chinwag-content">
            {% block chinwag-content %}
            threads
            {% endblock chinwag-content %}
        </td>
    </tr>
</table>

{% endblock content %}
