{% load humanize %}

{% if threads.paginator and threads.paginator.num_pages > 1 %}
{% url 'chinwag:forum_ajax' slug_name=slug_name as base_url %}
<div class="pagination">
    <span class="step-links">
        {% if threads.has_previous %}
            <a href="?page={{ threads.previous_page_number }}"
                data="{{ base_url }}?page={{ threads.previous_page_number }}"
                class="forum-ajax-trigger">
                previous
            </a>
        {% endif %}

        <span class="current">
            Page {{ threads.number }} of {{ threads.paginator.num_pages }}
        </span>

        {% if threads.has_next %}
            <a href="?page={{ threads.next_page_number }}"
                data="{{ base_url }}?page={{ threads.next_page_number }}"
                class="forum-ajax-trigger">
                next
            </a>
        {% endif %}
    </span>
</div>
{% endif %}

<table border="0" cellspacing="0" cellpadding="0" class="forum-threads">
    {% for thread in threads %}
    <tr class="forum-thread{% if thread.new %} new{% endif %}">
        <td class="forum-thread-icon">
            {% if thread.pinned %}
            <i class="fa fa-fw fa-thumb-tack"></i>
            {% else %}
                {% if thread.closed %}
                    <i class="fa fa-fw fa-lock"></i>
                {% else %}
                    {% if thread.new %}
                    <i class="fa fa-fw fa-circle"></i>
                    {% else %}
                    <i class="fa fa-fw fa-circle-o"></i>
                    {% endif %}
                {% endif %}
            {% endif %}
        </td>
        <td class="forum-thread-info">
            <span class="subject">
                <a href="{% url 'chinwag:thread' slug_name=thread.forum.slug_name slug_subject=thread.slug_subject %}">
                    {{ thread.subject }}
                </a>
            </span><br>
            <span class="info">
                Last post by
                <a href="">
                    {{ thread.last_post.author.username }}
                </a>
                <strong title="{{ thread.date }}">
                    {{ thread.last_post.date|datetime_ago }}
                </strong>
                · Opened by <a href="">{{ thread.author.username }}</a>
                <strong title="{{ thread.date }}">
                    {{ thread.date|datetime_ago }}
                </strong>
            </span>
        </td>
        <td class="forum-thread-id">
            #{{ thread.pk }}
        </td>
    </tr>
    {% endfor %}
</table>

