<ul>
    <li class="item{% if view_name == 'hot' %} active{% endif %}">
        <a href="{% url 'chinwag:hot' %}" data="{% url 'chinwag:hot_ajax' %}"
            class="forum-ajax-trigger">
            <i class="fa fa-bell-o fa-fw"></i>
            Hot for you {{ request.resolver_match.url_name }}
        </a>
    </li>
    <li class="category">Projects</li>
    {% for forum in projects_forums %}
    <li class="item{% if current_forum == forum %} active{% endif %}">
        <a href="{% url 'chinwag:forum' slug_name=forum.slug_name %}"
            data="{% url 'chinwag:forum_ajax' slug_name=forum.slug_name %}"
            class="forum-ajax-trigger">
            <span class="name">{{ forum.name }}</span>
            {% if forum.pins > 0 %}
            <span class="pin">{{ forum.pins }}</span>
            {% endif %}
            <span class="clear"></span>
        </a>
    </li>
    {% endfor %}
    <li class="category">General</li>
    {% for forum in other_forums %}
    <li class="item{% if current_forum == forum %} active{% endif %}">
        <a href="{% url 'chinwag:forum' slug_name=forum.slug_name %}"
            data="{% url 'chinwag:forum_ajax' slug_name=forum.slug_name %}"
            class="forum-ajax-trigger">
            <span class="name">{{ forum.name }}</span>
            {% if forum.pins > 0 %}
            <span class="pin">{{ forum.pins }}</span>
            {% endif %}
            <span class="clear"></span>
        </a>
    </li>
    {% endfor %}
</ul>
