{% extends "base.html" %}

{% block content %}

{% load avatar_tags %}

<div id="forum-ajax">
  <h1>
  {{ thread.subject }}
  </h1>
  <div id="forum-posts">
    {% for post in thread.posts.all %}
    <p>
      <h3>{{ post.author.get_short_name }}</h3>
      <img class="avatar" src="{% avatar_url post.author 120 %}"
                          alt="{{ post.author.username }}" width="120px"
                          height="120px"/>
      {{ post.content }}
    </p>
    {% endfor %}
  </div>
</div>

{% endblock content %}
