<!doctype html>
<html lang="en">
<head>
<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<title>EPIREV</title>
<meta name="description"
content="Virtual Reality student Association of EPITA">
{% block stylesheet %}
<link rel="stylesheet" href="/static/css/fonts.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/stuff.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
{% endblock stylesheet %}
{% block scripts %}
<script type="text/javascript" src="/static/js/jq.js"></script>
<script type="text/javascript" src="/static/js/nav.js"></script>
<script src="/static/js/forms.js" type="text/javascript" charset="utf-8">
</script>
{% endblock scripts %}
</head>
<body>
<div id="container">
    <header style="background-image: url(/static/img/header-bg.jpg);"
      {% if user.is_authenticated %}class="authenticated"{% endif %}>
        <div id="header">
            <div id="text">
                <a href="{% url 'home' %}" id="logo">
                    epi<span>rev</span>
                </a>
                {% if not user.is_authenticated %}
                <span id="subtitle">
                    Virtual Reality student Association of
                    <strong>EPITA</strong>
                </span>
                <ul id="actions">
                    <li>
                    <a href="{% url 'accounts:login' %}">
                            <span>Team</span> Log in
                        </a>
                    </li>
                    <li><a href="">Join us</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </header>
    {% include "nav.html" %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="content">
            <div id="twod"></div>
            <span class="left">
                designed with<img src="/static/img/django.png">by
                <a href="http://too.gy" target="_blank">toogy</a>
                {% if user.is_authenticated and user.is_staff %}
                (<a href="/admin/" target="_blank">administration</a>)
                {% endif %}
            </span>
            <span class="right">
                <img src="/static/img/epita.png">
            </span>
        </div>
    </footer>
</div>
</body>
</html>
