<nav id="main-nav" class="{% if user.is_authenticated %}logged-in{% endif %}">
    <ul>
        <li>
            <a{% if app_name == 'blog' %} class="active"{% endif %}
                href="{% url 'blog:timeline' %}">
                Blog
            </a>
        </li>
        <li>
            <a{% if app_name == 'projects' %} class="active"{% endif %}
                href="{% url 'projects:all' %}">
                Projects
            </a>
        </li>
        <li>
            <a{% if view_name == 'team' %} class="active"{% endif %}
                href="{% url 'team' %}">
                Team
            </a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'chinwag:hot' %}"
                {% if app_name == 'chinwag' %}class="active"{% endif %}
                >
                <i class="fa fa-comments"></i> Forums
            </a>
        </li>
        <li id="user">
            {% load avatar_tags %}
            <a href=""
                {% if app_name == 'accounts' %}class="active"{% endif %}>
                <img src="{% avatar_url user 26 %}" class="avatar" />
                {{ user.username }}
            </a>
        </li>
        <li>
        <a href="{% url 'accounts:logout' %}">
                <i class="fa fa-sign-out fa-fw"></i>
            </a>
        </li>
        {% else %}
        <li>
            <a href="https://bitbucket.org/epirev/" target="_blank">
                <i class="fa fa-bitbucket"></i> Bitbucket
            </a>
        </li>
        <li>
            <a{% if view_name == 'contact' %} class="active"{% endif %}
                href="{% url 'contact' %}">
                Contact us
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

{% if user.is_authenticated %}
<nav id="user-nav">
    <ul>
        {% ifequal app_name 'projects' %}
        <li>
            <a href="{% url 'projects:all' %}"
                {% if view_name == 'all' %} class="active"{% endif %}>
                All projects
            </a>
        </li>
        <li>
            <a href="{% url 'projects:create' %}"
                {% if view_name == 'create' %}class="active"{% endif %}>
                Create a new project
            </a>
        </li>
        {% endifequal %}
    </ul>
</nav>
{% endif %}
